PORT=3000
DISCORD_BOT_TOKEN=collez_un_nouveau_token_de_bot_ici
DISCORD_CLIENT_ID=identifiant_de_votre_application_discord
DISCORD_CLIENT_SECRET=secret_oauth2_de_votre_application_discord
DISCORD_REDIRECT_URI=https://votre-domaine.com/api/discord/callback
PUBLIC_SITE_URL=https://votre-domaine.com
GOOGLE_CLIENT_ID=identifiant_client_google
GOOGLE_CLIENT_SECRET=secret_client_google
GOOGLE_REDIRECT_URI=https://votre-domaine.com/api/google/callback