PORT=3000
DISCORD_BOT_TOKEN=collez_un_nouveau_token_de_bot_ici
DISCORD_CLIENT_ID=identifiant_de_votre_application_discord
DISCORD_CLIENT_SECRET=secret_oauth2_de_votre_application_discord
DISCORD_REDIRECT_URI=http://localhost:3000/api/discord/callback